<style>
    .mailicon {
        width: 300px;
    }
    .btn {
    width: 300px;
    }
    .card {
        width: 300px;
        margin-top: 150px;
        transform:translate(400px);
    }
    body {
    }
</style>
<div class="card">
<img src="~/Images/christmas-mail.png" class="mailicon" />
<button onclick="location.href='@Url.Action("FillInData","FillInData")'" class="btn btn-success">Fill in data to send to recipient</button>
</div>